.bangers-regular, h1 {
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
}

.over-the-rainbow-regular, h2 {
  font-family: "Over the Rainbow", cursive;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overscroll-behavior: none;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, rgb(220, 192, 161), rgb(68, 29, 8));
  color: rgb(68, 29, 8);
  overflow-x: hidden;
  font-size: 20px;
  scroll-behavior: smooth;
}

h1 {
  display: inline-block;
  color: rgb(68, 29, 8);
  font-size: 50px;
  padding-top: 20px;
}
@media (max-width: 600px) {
  h1 {
    font-size: 40px;
  }
}
h1.with-nomnom {
  position: relative;
}
h1.with-nomnom:after {
  position: absolute;
  height: 100px;
  width: 100px;
  top: -18px;
  right: -70px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  content: "";
  background-image: url("../assets/nomnom-transparent.png");
}
@media (max-width: 600px) {
  h1.with-nomnom:after {
    height: 80px;
    width: 80px;
    top: -12px;
    right: -54px;
  }
}

h2 {
  line-height: 1;
  color: rgb(68, 29, 8);
  padding-bottom: 20px;
  font-size: 30px;
}
@media (max-width: 600px) {
  h2 {
    font-size: 22px;
  }
}

p.textbox {
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
  line-height: 1.4;
}

a {
  color: rgb(68, 29, 8);
}

ul {
  max-width: 600px;
  width: 90%;
  margin: 0 auto;
}
ul li {
  list-style: none;
  margin-bottom: 20px;
}

header {
  padding: 1.5em;
  text-align: center;
  position: fixed;
  height: 157px;
  overflow: hidden;
  width: 100%;
  top: 0;
  z-index: 1000;
}
@media (max-width: 600px) {
  header {
    padding: 1em;
    height: 125px;
  }
}

.divider {
  background-color: rgb(68, 29, 8);
  height: 1px;
  border: none;
  width: 60%;
  margin: 0 auto;
}

section#hero {
  height: calc(100vh - 157px);
}
@media (max-width: 600px) {
  section#hero {
    height: calc(100vh - 125px);
  }
}

main {
  margin-top: 157px;
}
@media (max-width: 600px) {
  main {
    margin-top: 125px;
  }
}

section {
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}
@media (max-width: 600px) {
  section {
    padding: 60px 20px;
  }
}

section {
  display: flex;
  flex-direction: column;
}

.nonom-img {
  width: 200px;
  margin-bottom: 30px;
}

.ca-box {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 30px;
}
@media (max-width: 600px) {
  .ca-box {
    word-break: break-all;
    max-width: 100%;
    font-size: 20px;
  }
  .ca-box > div {
    display: flex;
    flex-direction: column;
  }
}
.ca-box .copied-message {
  display: none;
  font-size: 30px;
  color: green;
}
@media (max-width: 600px) {
  .ca-box .copied-message {
    font-size: 20px;
  }
}

.specs {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 40px;
  font-size: 25px;
}
@media (max-width: 600px) {
  .specs {
    font-size: 20px;
  }
}
.specs > div {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
  justify-content: center;
}
@media (max-width: 600px) {
  .specs > div {
    gap: 5px;
  }
}
.specs > div span {
  text-align: left;
}

.link-box {
  border: 7px solid rgb(68, 29, 8);
  display: flex;
  gap: 25px;
  align-items: center;
  padding: 20px;
}
.link-box img {
  width: 40px;
  transition: all 300ms ease-in-out;
}
.link-box img:hover {
  transform: scale(1.1);
}

.grid {
  max-width: 1200px;
  display: grid;
}
.grid :after {
  content: "";
  display: block;
  clear: both;
}

.grid {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  margin-bottom: 30px;
}

.grid-sizer,
.grid-item {
  width: 20%;
}
@media (max-width: 600px) {
  .grid-sizer,
  .grid-item {
    width: 50%;
  }
}

.grid-item {
  height: 200px;
  float: left;
  overflow: hidden;
}
@media (max-width: 600px) {
  .grid-item {
    height: 100px;
  }
}
.grid-item a {
  display: inline-block;
}
.grid-item img {
  max-width: 100%;
}

.grid-item--width {
  width: 20%;
}

.grid-item--width3 {
  width: 60%;
}

.grid-item--height {
  height: 200px;
}

.grid-item--height3 {
  height: 260px;
}

.grid-item--height4 {
  height: 360px;
}

.center {
  display: flex;
  justify-content: center;
}

footer {
  clear: left;
  display: block;
  padding: 10px;
  color: rgb(220, 192, 161);
  z-index: 1000;
  background-color: rgb(68, 29, 8);
  opacity: 0.4;
  text-align: center;
  padding: 1em;
  width: 100%;
}

/*# sourceMappingURL=styles.css.map */
