.container {
  display: flex;
  justify-content: center;
}

.contentContainer {
  display: flex;
  flex-direction: column;
}

.canvasContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 400px;
  background-color: burlywood;
}